/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    text-align: center;
}

table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #333;
    padding: 20px;
    text-align: center;
    width: 100px;
}

th {
    background-color: #f4f4f4;
}

#wykladowcy-lista {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.wykladowca {
    border: 1px solid #333;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
}

/* Przyciski */
#przyciski {
    text-align: center;
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin: 5px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}
